<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567942858656-7rq760lvg8gnh3f7ln1v09mv12g6rnks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567942858656-7rq760lvg8gnh3f7ln1v09mv12g6rnks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567942858656-6k7klubh3322g1isvt8e5gu1c2ofreaq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuoe-mVBql0HOMGk3HOIrKGMNgjEs1InE</string>
	<key>GCM_SENDER_ID</key>
	<string>567942858656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avarokin.gossip</string>
	<key>PROJECT_ID</key>
	<string>gossip-b8325</string>
	<key>STORAGE_BUCKET</key>
	<string>gossip-b8325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567942858656:ios:739c0a508ca227d9bc46c5</string>
	<key>DATABASE_URL</key>
	<string>https://gossip-b8325.firebaseio.com</string>
</dict>
</plist>